@model SupplyViewModel
@{
    ViewData["Title"] = "Abastecimentos";
}

<h3>Consulta de Abastecimentos</h3>
<br/>
<div class="container-fluid">
    @using (Html.BeginForm("Report", "Supply"))
    {
        <div class="row">
            <div class="col-sm-6">
                @Html.HiddenFor(w => w.userid)
                @Html.RadioButtonFor(m => m.reporttype, "1")&nbsp;Geral
                @Html.RadioButtonFor(m => m.reporttype, "2")&nbsp;Litros Abastecidos/ mês
                @Html.RadioButtonFor(m => m.reporttype, "3")&nbsp;Quantidade Paga/ Ano
                @Html.RadioButtonFor(m => m.reporttype, "4")&nbsp;Kilometros / Ano
                @Html.RadioButtonFor(m => m.reporttype, "5")&nbsp;Mensal / Carro


            </div>
            <div class="col-sm-4">
                <input type="submit" value="Buscar" class="btn btn-success" />
                @Html.ActionLink("Exportar", "Create", "Supply", new { id = Model.userid }, new { @class = "btn btn-success" })
            </div>
            <div class="col-sm-2">

                @Html.ActionLink("Novo Abastecimento", "Create", "Supply", new { id = Model.userid }, new { @class = "btn btn-success" })
            </div>
        </div>
    }
    <br />
    <div class="row">
        <br />
        <div class="col-sm-12">
            <table id="supplies" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Posto Abastecimento</th>
                        <th>Data Abastecimento</th>
                        <th>Quantidade </th>
                        <th>Valor</th>
                        <th>/</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.supplies != null)
                    {
                        @foreach (var item in Model.supplies)
                        {
                            <tr>
                                <td>@item.companyname</td>
                                <td>@item.datasupply</td>
                                <td>@item.quantity</td>
                                <td>@item.value</td>
                                <td>/</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

